/*--|All|--*/
@font-face{
font-family:'roboto';
src:url('font/Roboto-Regular.ttf')format('truetype');
}
*{
/*font*/
font-family:'roboto';
font-size:1.25vw;
color:#FFFFFF;
/*display*/
margin:0;
padding:0;
}
/*--|All|--*/

/*--|Header|--*/
#hd{
/*display*/
position:fixed;
display:flex;
width:100%;
height:5vw;
top:0;
left:0;
right:0;
justify-content:space-between;
align-items:center;
background:#0B2F4F;
z-index:100;
}
#lg{
/*display*/
display:flex;
width:50%;
height:100%;
justify-content:flex-start;
align-items:center;
}
.lg{
/*display*/
position:relative;
display:flex;
width:4vw;
left:2vw;
/*cursor*/
cursor:pointer;
}
#ls{
/*font*/
list-style-type:none;
/*display*/
display:flex;
width:30%;
height:100%;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.nv{
/*font*/
font-size:1vw;
font-weight:900;
text-decoration:none;
color:#FFFFFF;
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.nv:hover{
/*font*/
color:#907446;
}
.im{
/*display*/
width:2vw;
}
#divhd{
display:none;
}
#mnm{
/*display*/
display:none;
}
#lsm{
/*display*/
display:none;
}
.nvlg{
/*font*/
text-decoration:none;
color:transparent;
/*display*/
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
}
.nvls{
/*font*/
text-decoration:none;
color:transparent;
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.imlg{
/*display*/
width:2.5vw;
}
.imls{
/*display*/
width:2vw;
}
@media screen and (max-width: 768px){
#hd{
/*display*/
height:15vw;
}
.lg{
/*display*/
width:10vw;
}
#ls{
/*display*/
display:none;
}
#divhd{
display:flex;
}
#mnm{
/*display*/
display:flex;
width:12vw;
}
#lsm{
/*font*/
list-style-type:none;
/*display*/
position:absolute;
display:none;
width:50%;
height:80vw;
top:-6vw;
right:-3vw;
padding:2vw;
flex-direction:column;
justify-content:space-around;
align-items:center;
background:#0B2F4F;
/*border*/
border-radius:5vw;
}
.divclose{
/*display*/
display:flex;
width:90%;
justify-content:flex-end;
align-items:flex-start;
}
#cmn{
/*display*/
display:flex;
width:12vw;
}
.nvlg h1{
/*font*/
font-size:3vw;
color:#FFFFFF;
}
.nvls{
/*font*/
font-size:4vw;
text-align:center;
text-decoration:none;
color:#FFFFFF;
/*display*/
width: 40vw;
padding:0;
flex-direction:row;
}
.imlg{
/*display*/
width:8vw;
}
}
/*--|Header|--*/

/*--|Footer|--*/
#ft{
/*display*/
position:absolute;
display:flex;
width:100%;
height:2vw;
bottom:revert;
justify-content:center;
align-items:center;
background:#0B2F4F;
}
@media screen and (max-width: 768px){
#ft{
/*display*/
height:15vw;
}
.txftm{
/*font*/
font-size:6vw;
text-align:center;
}
}
/*--|Footer|--*/

/*--|Main|--*/
#sec1{
/*display*/
position:relative;
display:flex;
width:100%;
height:45vw;
margin:5vw 0 0 0;
padding:0;
flex-direction:row;
justify-content:center;
align-items:center;
background-image:url('images/1.jpg');
background-size:cover;
background-position:center;
}
#sec1::before{
content:'';
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
background-color:rgba(144,116,70,0.5)
}
.dv{
/*display*/
display:flex;
width:90%;
height:45vw;
flex-direction:column;
justify-content:center;
align-items:flex-start;
}
.tt{
/*font*/
font-size:5vw;
text-align:justify;
text-shadow:0.15vw 0.15vw 0.1vw rgba(11,47,79,0.2);
color:#FFFFFF;
/*display*/
display:flex;
width:100%;
margin-right:5vw;
justify-content:flex-start;
align-items:center;
z-index:1;
}
.bt{
/*font*/
text-decoration:none;
/*display*/
display:flex;
width:8vw;
margin-top:6vw;
padding:1vw 2vw;
justify-content:center;
align-items:center;
background:#0B2F4F;
z-index:1;
/*border*/
border-radius:50vw;
}
.bt:hover{
/*display*/
background:#907446;
}
#sec2{
/*display*/
display:flex;
width:100%;
height:50vw;
justify-content:space-around;
align-items:center;
background:#0B2F4F;
}
.dv1{
/*display*/
display:flex;
width:50%;
padding:0 5vw;
flex-wrap:wrap;
flex-direction:row;
justify-content:space-around;
align-items:center;
}
.tt1{
/*font*/
font-size:2vw;
text-align:justify;
text-shadow:0.15vw 0.15vw 0.1vw rgba(255,255,255,0.5);
color:#FFFFFF;
/*display*/
display:flex;
width:100%;
margin:5vw 0;
justify-content:flex-start;
align-items:center;
}
.tx{
/*font*/
font-size:1.25vw;
text-align:justify;
color:#FFFFFF;
/*display*/
display:flex;
width:100%;
justify-content:flex-start;
align-items:center;
}
.dv2{
/*display*/
display:flex;
width:100%;
padding:0;
flex-wrap:wrap;
flex-direction:row;
justify-content:space-around;
align-items:center;
}
.im1{
/*display*/
width:40%;
/*border*/
border:0.4vw solid #907446;
border-radius:0.1vw;
}
#sec3{
/*display*/
position:relative;
display:flex;
width:100%;
height:50vw;
padding:0;
flex-direction:column;
justify-content:space-around;
align-items:center;
background-image:url('images/8.jpg');
background-size:cover;
background-position:center;
}
#sec3::before{
content:'';
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
background-color:rgba(144,116,70,0.5)
}
.tt2{
/*font*/
font-size:2vw;
text-align:left;
/*display*/
display:flex;
width:90%;
padding:5vw 0;
justify-content:left;
align-items:center;
z-index:1;
}
.dv3{
/*display*/
display:flex;
width:100%;
height:60%;
padding:0;
flex-wrap:wrap;
flex-direction:row;
justify-content:space-around;
align-items:center;
}
.dv4{
/*display*/
display:flex;
width:50%;
height:50%;
flex-direction:column;
justify-content:center;
align-items:center;
}
.tt3{
/*font*/
font-size:2vw;
text-align:center;
/*display*/
width:50%;
z-index:1;
}
.tx1{
/*font*/
text-align:center;
/*display*/
width:50%;
z-index:1;
}
#sec4{
/*display*/
display:flex;
width:100%;
height:50vw;
padding-bottom:5vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0B2F4F;
}
.dv5{
/*display*/
display:flex;
width:100%;
flex-direction:row;
justify-content:space-around;
align-items:center;
}
.dv6{
/*display*/
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.im2{
/*display*/
display:flex;
width:20vw;
height:auto;
justify-content:center;
align-items:center;
/*border*/
border:0.4vw solid #907446;
border-radius:2vw;
}
.tt4{
/*font*/
font-size:1.2vw;
text-align:center;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.bt1{
/*font*/
font-weight:900;
/*display*/
display:flex;
width:12vw;
margin-top:10vw;
padding:1vw 2vw;
justify-content:center;
align-items:center;
background:#907446;
z-index:1;
/*border*/
border-radius:50vw;
}
.bt1:hover{
/*font*/
color:#907446;
/*display*/
background:#FFFFFF;
}
#sec5{
/*display*/
display:flex;
width:100%;
height:45vw;
justify-content:space-around;
align-items:center;
background:#907446;
}
.im3{
/*display*/
width:30vw;
/*border*/
border:0.4vw solid #0B2F4F;
border-radius:2vw;
}
.dv7{
/*display*/
width:30%;
}
.tt5{
/*display*/
width:100%;
padding-bottom:5vw;
}
.tx3{
/*font*/
text-align:justify;
/*display*/
}
#sec6{
/*display*/
display:flex;
width:100%;
height:45vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0B2F4F;
}
.dv8{
/*display*/
display:flex;
width:100%;
flex-direction:row;
justify-content:center;
align-items:flex-start;
}
.dv9{
/*display*/
display:flex;
width:24%;
margin:2vw;
flex-direction:column;
justify-content:space-evenly;
align-items:center;
}
#sec7{
/*display*/
display:flex;
width:100%;
height:45vw;
flex-direction:row;
justify-content:space-around;
align-items:center;
background:#907446;
}
.dv10{
/*display*/
display:flex;
width:40%;
height:70%;
flex-direction:column;
justify-content:space-around;
align-items:center;
}
.dv11{
/*display*/
display:flex;
width:80%;
height:100%;
flex-direction:column;
justify-content:flex-start;
align-items:center;
}
.tt6{
/*font*/
font-size:2vw;
text-align:left;
/*display*/
display:flex;
width:100%;
padding:0 0 5vw 0;
justify-content:left;
align-items:center;
z-index:1;
}
.tx4{
/*display*/
width:100%;
}
.dv12{
/*display*/
display:flex;
width:80%;
height:100%;
flex-direction:column;
justify-content:flex-end;
align-items:flex-start;
}
.tt7{
/*font*/
font-size:1.5vw;
text-align:center;
/*display*/
display:flex;
justify-content:center;
align-items:center;
}
.im4{
/*display*/
width:1.5vw;
margin:3vw 0 0 0;
padding:1vw;
background:#FFFFFF;
/*border*/
border-radius:5vw;
}
.im4:hover{
/*display*/
background:#0B2F4F;
/*cursor*/
cursor:pointer;
}
.im5{
/*border*/
border-radius:2vw;
}
.dv13{
/*display*/
display:flex;
width:60%;
flex-direction:row;
justify-content:center;
align-items:center;
}
#sec8{
/*display*/
display:flex;
width:100%;
height:80vw;
padding:4vw 0 0 0;
flex-direction:column;
justify-content:center;
align-items:center;
background:#907446;
}
.tt8{
/*font*/
font-size:1.5vw;
text-align:center;
/*display*/
display:flex;
width:90%;
padding:4vw;
justify-content:flex-start;
align-items:center;
z-index:1;
}
.im6{
/*display*/
width:2vw;
height:auto;
padding:1vw;
z-index:1;
/*border*/
border-radius:2vw;
}
.dv14{
/*display*/
display:flex;
width:90%;
padding:2vw;
flex-direction:row;
justify-content:center;
align-items:center;
z-index:1;
}
.im7{
/*display*/
width:40vw;
height:auto;
/*border*/
border-radius:2vw;
}
.tx5{
/*font*/
text-align:justify;
letter-spacing:0.1vw;
/*display*/
width:50%;
padding:2vw;
}
.dv15{
/*display*/
display:flex;
width:100%;
flex-direction:row;
justify-content:center;
align-items:center;
z-index:1;
}
.tx6{
/*font*/
text-align:justify;
letter-spacing:0.1vw;
/*display*/
width:90%;
}
.dv16{
/*display*/
display:flex;
width:90%;
padding:2vw;
flex-direction:row;
justify-content:center;
align-items:center;
z-index:1;
}
.tx7{
/*font*/
text-align:justify;
letter-spacing:0.1vw;
/*display*/
width:90%;
padding:2vw;
}
#sec9{
/*display*/
display:flex;
width:100%;
height:105vw;
padding:4vw 0 0 0;
flex-direction:column;
justify-content:center;
align-items:center;
background:#907446;
}
#sec10{
/*display*/
display:flex;
width:100%;
height:85vw;
padding:4vw 0 0 0;
flex-direction:column;
justify-content:center;
align-items:center;
}
#sec10::before{
content:'';
position:absolute;
height:90vw;
top:0;
right:0;
bottom:0;
left:0;
background-color:rgba(144,116,70,1)
}
@media screen and (max-width: 768px){
#sec1{
/*display*/
height:220vw;
margin:0;
}
.tt{
/*font*/
font-size:7vw;
}
.bt{
/*font*/
font-size:4vw;
/*display*/
width:35vw;
margin-top:10vw;
padding:4vw 5vw;
background:#0B2F4F !important;
}
#sec2{
/*display*/
height:220vw;
flex-direction:column;
}
.dv1{
/*display*/
width:85%;
}
.tt1{
/*font*/
font-size:7vw;
}
.tx{
/*font*/
font-size:5vw;
}
#sec3{
/*display*/
height:220vw;
}
.tt2{
/*font*/
font-size:7vw;
}
.dv4{
/*display*/
justify-content:flex-start;
}
.tt3{
/*font*/
font-size:6vw;
/*display*/
width:100%;
}
.tx1{
/*font*/
font-size:5vw;
/*display*/
width:100%;
}
#sec4{
/*display*/
height:220vw;
}
.dv5{
/*display*/
height:100%;
flex-direction:column;
justify-content:space-evenly;
}
.im2{
/*display*/
width:50vw;
}
.tt4{
/*font*/
font-size:6vw;
}
.tx2{
/*font*/
font-size:5vw;
}
.bt1{
/*font*/
font-size:5vw;
/*display*/
width:50vw;
padding:5vw 2vw;
}
#sec5{
/*display*/
height:220vw;
flex-direction:column;
}
.im3{
/*display*/
width:80vw;
/*border*/
border:1vw solid #0B2F4F;
}
.dv7{
/*display*/
width:85%;
}
.tt5{
/*font*/
font-size:7vw;
}
.tx3{
/*font*/
font-size:5vw;
}
#sec6{
/*display*/
height:220vw;
}
.dv8{
/*display*/
flex-direction:column;
align-items:center;
}
.dv9{
/*display*/
width:80%;
}
#sec7{
/*display*/
height:220vw;
flex-direction:column;
}
.dv10{
/*display*/
width:100%;
height:auto;
}
.dv11{
/*display*/
padding:10vw 0;
}
.tt6{
/*font*/
font-size:7vw;
}
.tx4{
/*font*/
font-size:5vw;
text-align:left;
}
.tt7{
/*font*/
font-size:7vw;
}
.im4{
/*display*/
width:10vw;
}
.dv13{
/*display*/
width:90%;
}
#sec8{
/*display*/
height:520vw;
}
.tt8{
/*font*/
font-size:5vw;
text-align:left;
/*display*/
width:80%;
}
.im6{
/*display*/
width:8vw;
}
.dv14{
/*display*/
flex-direction:column-reverse;
}
.im7{
/*display*/
width:80vw;
}
.tx5{
/*font*/
font-size:5vw;
/*display*/
width:85%;
margin:5vw 0;
}
.tx6{
/*font*/
font-size:5vw;
/*display*/
width:75%;
margin:5vw 0;
}
.dv16{
/*display*/
flex-direction:column-reverse;
}
.tx7{
/*font*/
font-size:5vw;
/*display*/
width:85%;
margin:5vw 0;
}
#sec9{
/*display*/
height:710vw;
}
#sec10{
/*display*/
height:620vw;
}
#sec10::before{
height:630vw;
}
}
/*--|Main|--*/

/*--|Form|--*/
@media screen and (max-width: 768px){
#secf{
/*display*/
display:flex;
width:100%;
height:350vw;
flex-direction:column;
justify-content:space-evenly;
align-items:center;
background:#907446;
}
.tt9{
/*font*/
font-size:15vw;
/*display*/
}
.form{
/*display*/
display:flex;
padding:5vw;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0B2F4F;
/*border*/
border-radius:5vw;
}
.lb{
/*font*/
font-size:8vw;
text-align:center;
/*display*/
display:flex;
width:100%;
height:50vw;
margin:5vw 0 0 0;
flex-direction:column;
justify-content:space-evenly;
align-items:center;
}
.ip{
/*font*/
font-size:5vw;
text-align:center;
color:#000000;
/*display*/
display:flex;
width:100%;
height:10vw;
justify-content:center;
align-items:center;
/*border*/
border:none;
border-radius:2vw;
box-shadow:0.5vw 0.5vw 0.5vw rgba(255,255,255,0.5);
}
.ip:focus{
/*border*/
border:0.5vw solid #0B2F4F;
}
.ta{
/*font*/
font-size:5vw;
text-align:center;
color:#000000;
/*display*/
display:flex;
width:100%;
height:50vw;
margin:2vw 0 0 0;
justify-content:center;
align-items:center;
/*border*/
border:none;
border-radius:2vw;
box-shadow:0.5vw 0.5vw 0.5vw rgba(255,255,255,0.5);
}
.btf{
/*font*/
font-size:8vw;
/*display*/
width:40vw;
height:10vw;
margin:20vw 0 0 0;
background:#907446;
/*border*/
border:none;
border-radius:5vw;
box-shadow:0.5vw 0.5vw 0.5vw rgba(255,255,255,0.5);
}
}
/*--|Form|--*/